.help{
    color:rgba(0, 72, 255, 0.685); 
}

.better{
    color:rgba(0, 72, 255, 0.685); 
}

.div1{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    margin-top: px;
    padding: 10px 70px;
    border-bottom: 1px solid black;
    
    
}

.div2{
    margin: 8px;
    padding: 15px;
    font-size:x-large;
}

.div3{
    margin: 15px;
    display: inline;
    font-family: sans-serif;
    color: rgba(0, 72, 255, 0.685);
}

.div4 li{
    display: inline;
    justify-content: center;
    font-family: sans-serif;
    font-size: large;
    color:black;
    padding-right: 45px;
    margin-top: 15px;

}

.div5{
padding: 15px;
border-radius: 20px;

}

.div6{
    display: flex;
    display: inline-block;
    padding: 50px;
    padding-left: 110px;
    
}

.wholecontainer{
    border: 1px solid black;
}

.div8{
    font-family: sans-serif;
    font-size: 20px;
}

.div10{
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:rgba(0, 106, 255, 0.74);
    border-color:rgba(0, 106, 255, 0.74);

}


.div11{
    font-family: sans-serif;
    font-size: 15px;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border-color: white;


}


.div12{
    padding-top: 50px;
    padding-right: 110px;
    float: right;
    

}

.unto{
    display: flex;
    justify-content: center;
    padding-left: 250px;
    padding-top: 50px;
}

.div14{
    font-family: sans-serif;
    font-size: 15px;
}

.into{
    display: flex;
    justify-content: center;
    padding-left: 10px;

}

.div15{
    font-family:serif
}

.div16{
    display: flex;
    justify-content: center;
    padding-left: 200px;

}

.div17{
    font-family: sans-serif;
    font-size: 20px;
    color: rgba(0, 106, 255, 0.74);
    padding-left: 25px;

}

.div18{
    font-family: serif;
    padding-left: 25px;


}

.div19{
    
    display: flex;
    display: inline-block;
    padding: 50px;
    padding-left: 20px;

}

.div20{
    font-family: sans-serif;
    font-size: 12px;
    
}

.div21{
    font-family: sans-serif;
    
}

.div22{
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:rgba(0, 106, 255, 0.74);
    border-color: rgba(0, 106, 255, 0.74);

    
}

.div23{
    padding-right: 110px;
    float: right;
    
}

.div24{
    display: flex;
    display: inline-block;
    padding: 50px;
    padding-right: 250px;

}

.div25{
    font-family: sans-serif;
    font-size: 12px;
    
}

.div26{
    font-family: sans-serif;
    
}

.div27{
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:rgba(0, 106, 255, 0.74);
    border-color: rgba(0, 106, 255, 0.74);
    
}

.div28{
    padding-left: 70px;
    float: left;
    
}

.div29{
    display: flex;
    display: inline-block;
    padding-top: 50px;
    padding-right: 400px;

   
    
}
.div30{
    font-family: sans-serif;
    font-size: 12px;
    padding-left: 10px;

}

.div31{
    font-family: sans-serif;
    padding-left: 10px;
}

.div32{
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:rgba(0, 106, 255, 0.74);
    border-color: rgba(0, 106, 255, 0.74);
}

.div33{
    float: right;
    

}

.div34{
    display: flex;
   width: 950px;
   height: 250px;
   background-color: rgba(0, 106, 255, 0.74);
   margin-left: 140px;
   margin-top: 100px;
    
    
}

.div35{
    margin-left: 100px;
    padding-top: 60px;
    

}

.div36{
    margin-left: 100px;
    padding-top: 25px;
    
    

}

.div37{
    margin-left: 100px;
    margin-top: 120px;
}

.div38{
    display: flex;
    margin-left: 100px;
    margin-top: 100px;
    border-top: 1px solid black;
}


.div40{
    padding-left: 300px;
}

.div41{
    margin-left: 100px;
    margin-top: 50px;
}

